bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Игнорировать пробы Visual Studio, файлы локальных установок или/и файлы сгенерированные рефакторизацией 
.vs/
.vscode/
.idea/
UsageInstructions.txt
Examples/
*.local
_UpgradeReport_Files/
Backup*/
logs/
packages/
postman/*
pre-commit.ps1
RefactorLogs/*
Examples/
ReleaseArchives/
 scheduledTestCaseFolder/ 
 scheduledTestData/ 
UnivData/
TestResults/**/*
Scripts/Remote_Command_PowerShell.ps1
Scripts/Remote_Command.ps1

# Игнорирование файлов настройки пользователя Microsoft (опционально)
*.suo
.ASPCoreSettings.json
.DocumentationSettings.bin
*.userprefs